.main-content {
  min-height: 80vh;
}

.nav-item {
  margin-right: 0px;
}

.carousel {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  margin-bottom: 25px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

.carousel-item img {
  margin: 100px auto 25px;
  height: 300px;
  padding: 30px;
  border-radius: 50%;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel a {
  margin: 0 auto;
}
